*, *::after, *::before {
  box-sizing: border-box;
}
a {
  color: #336699;
  text-decoration: none;
}
header {
  position: relative;
  z-index: 999;
}
h1, h2, h3, h4, h5, .nav-holder a {
	font-family:'Roboto', Helvetica, sans-serif;
}
h1 {
	color: #fff;
  font-size: 36px;
  text-indent: -2.2em;
	min-height: 311px;
	padding: 6em 1em 0 3em;
  position: relative;
}
h2 {
  color: #495965;
  margin-top: 0;
  padding-top: 40px;
}
h3 {
  color: #0088ce;
}
h4 {
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
}
h5 {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
header a.app-name, header a.app-name:hover, header a.app-name:visited {
  margin: 14px 0 0 0;
}
header .tagline {
  color: #ffc423;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
}
hr {
	border-top: 1px solid #eee;
	margin-bottom: 5px;
}
nav a {
  color: #d6d6d6;
  font-family: Roboto;
}
nav a:focus, nav a:hover, nav a:visited {
  color: #d6d6d6;
  text-decoration: none;
}
.abovefold {
  margin-top: 0;
}
.backtotop {
	float: right;
}
.backtotop a {
	color: #ccc;
	display: block;
	font-family: Roboto;
	font-size: 11px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
}
.callout {
	background: rgba(0, 90, 146, 0.2);
	box-shadow: -9px -9px 0px 0px rgba(0, 0, 0, 0.3);
	margin: 1em;
	-moz-box-shadow: -9px -9px 0px 0px rgba(0, 0, 0, 0.3);
	padding: 2em;
	-webkit-box-shadow: -9px -9px 0px 0px rgba(0, 0, 0, 0.3);
}
.compnav {
  background-color: rgba(0, 90, 146, 0.95);
  font-size: 14px;
  height: 100%;
  line-height: 1.25em;
  max-height: 100%;
  overflow-y: scroll;
  position: relative;
  width: 100%;
}
.compnav a:hover {
	text-decoration:underline;
}
.compnav > ul {
  padding: 1em 1em 1em 0;
}
.compnav ul li {
  margin: 0.5em 0 0.5em 1em;
}
.compnav ul li ul {
	padding-left: calc(12px + .5em);
}
.compnav ul li ul li ul li {
	color:#fff;
	list-style-type:disc;
}
.compnav ul li.active > a {
  color: #fff;
  font-weight:bold;
}
.compnav li.active:before {
  box-shadow: 0 0 1px 3px rgba(250, 250, 250, 0.6);
}
.compnav > ul > li > ul > li::before {
  border: 1px solid #fff;
	border-radius: 50%;
	content:' ';
	display:inline-block;
	height:12px;
	margin: 0 .5em;
	width:12px;
}
.compnav > ul > li > ul > li::before {
	content:' ';
	height:8px;
	width:8px;	
}
.compnav > ul > li::before {
	color:#fff;
	content:' ';
  border: 1px solid #fff;
	border-radius: 50%;
	display:inline-block;
	font-family:Roboto;
	margin: 0 .5em;
	padding:0 .35em;
}
.compnav > ul > li:first-child::before {
  background-color: #646a6d;
  height:20px;
  width:20px;
}
.compnav > ul > li:nth-child(2)::before, .compnav > ul > li:nth-child(2) > ul > li::before {
  background-color: #1eb6ec;
}
.compnav > ul > li:nth-child(3)::before, .compnav > ul > li:nth-child(3) > ul > li::before {
  background-color: #f59031;
}
.compnav > ul > li:nth-child(4)::before, .compnav > ul > li:nth-child(4) > ul > li::before {
  background-color: #84c14a;
}
.compnav > ul > li:nth-child(2)::before {
	content:'1';
}
.compnav > ul > li:nth-child(3)::before {
	content:'2';
}
.compnav > ul > li:nth-child(4)::before {
  content:'3'
}
.compnav-holder {
  left: 0;
  max-width: 75%;
  position: absolute;
  top: auto;
  z-index: 1001 !important;
}
.content-container:nth-child(2) .content-holder .downloadblock, .content-container:nth-child(2) .content-holder .callout {
	background: rgba(0, 90, 146, 0.2);
}
.content-container:nth-child(3) .content-holder .downloadblock, .content-container:nth-child(3) .content-holder .callout {
	background: rgba(245, 143, 49, 0.2);
}
.content-container:nth-child(4) .content-holder .downloadblock, .content-container:nth-child(4) .content-holder .callout {
	background: rgba(85, 148, 60, 0.2);
}
.content-container {
  margin-top: -100px;
  position: relative;
}
.content-container .sticky-wrapper {
  display: inline-block;
  width: 16em;
}
.content-container .nav-holder ul li.active a::after {
  border-radius: 50%;
  content: '';
  height: 18px;
  line-height: 1.75em;
  position: absolute;
  width: 18px;
}
.content-container .nav-holder ul li.active a::after {
  top: calc(1em + 5px);
  right: calc(-1em - 12px);
}
.content-container .nav-holder ul li ul li.active > a::after {
  top: 25%;
  right: calc(-1em - 12px);
}
.content-container:nth-child(2) .content-holder .downloadblock .btn {
	background-color: #1589cb;
	text-decoration:none;
}
.content-container:nth-child(2) .content-holder .downloadblock .btn:hover {
	background-color: #0e98e6;
}
.content-container:nth-child(3) .content-holder .downloadblock .btn {
	background-color: #f58f31;
	text-decoration:none;
}
.content-container:nth-child(3) .content-holder .downloadblock .btn:hover {
	background-color: #e87306;
}
.content-container:nth-child(4) .content-holder .downloadblock .btn {
	background-color: #55943c;
	text-decoration:none;
}
.content-container:nth-child(4) .content-holder .downloadblock .btn:hover {
	background-color: #2a9201;
}
.content-container:nth-child(2) .nav-holder li.active > a, .content-container:nth-child(2) .nav-holder a:hover {
	color: #1589cb;
}
.content-container:nth-child(2) .nav-holder li.active > a::after {
	background-color: #1589cb;
}
.content-container:nth-child(3) .nav-holder li.active > a, .content-container:nth-child(3) .nav-holder a:hover {
	color: #f58f31;
}
.content-container:nth-child(3) .nav-holder li.active > a::after {
	background-color: #f58f31;
}
.content-container:nth-child(4) .nav-holder li.active > a, .content-container:nth-child(4) .nav-holder a:hover {
	color: #55943c;
}
.content-container:nth-child(4) .nav-holder li.active > a::after {
	background-color: #55943c;
}
.content-container.abovefold {
  margin-top: 0;
}
.content-holder {
  display: inline-block;
  padding: 2em;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.content-holder a {
	text-decoration:underline;
}
.content-holder a:hover {
	color:#164472;
}
.content-holder a:visited {
	color:#617cb3;	
}
.content-holder ul, .content-holder ol, .intro-container ol {
	padding-left: 3em;
}
.content-holder ol li {
  list-style-type: decimal;
}
.content-holder ul li, .intro-container ul li {
  list-style-type: disc;
}
.content-wrapper {
  position: relative;
}
.content-wrapper section:nth-child(2) h1 {
  background: url('../images/1-intergovernmental.jpg') top left no-repeat;
  background-size: auto 100%;
}
.content-wrapper section:nth-child(3) h1 {
  background: url('../images/2-planning.jpg') top left no-repeat;
  background-size: auto 100%;
}
.content-wrapper section:nth-child(4) h1 {
  background: url('../images/3-plan_adoption.jpg') top left no-repeat;
  background-size: auto 100%;
}
.content-wrapper section h1::before {
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 0 .5em;
  padding: 0 .32em;
}
.content-wrapper section:nth-child(2) h1::before {
  background-color: #1a81a6;
  content: '1';
}
.content-wrapper section:nth-child(3) h1::before {
  background-color: #f58f31;
  content: '2';
}
.content-wrapper section:nth-child(4) h1::before {
  background-color: #55943c;
  content: '3';
}
.credit {
	font-size:80%;
	font-style:normal;
	padding:2em;
}
.downloadblock {
	-webkit-box-shadow: -7px -7px 0px 0px rgb(204, 204, 204);
	-moz-box-shadow: -7px -7px 0px 0px rgb(204, 204, 204);
	box-shadow: -7px -7px 0px 0px rgb(204, 204, 204);
	font-family: Roboto;
	margin:2.5em 0;
	padding: 1em;
}
.downloadblock .btn {
	border-radius: 0;
	padding: .5em;
}
.downloadblock .btn:hover {
	color: #fff;
}
.hometext {
  padding: 3em;
}
.hometext a {
	text-decoration:underline;
}
.hometext .callout {
	background:none;
	box-shadow: none;
	padding:0;
}
.hometext .callout .callout_box {
	background: rgba(0, 90, 146, 0.2);
	border: 1px solid #ffffff;
	margin: 1em;
	padding: 2em;
}
.intro-container {
  background: url('../images/home.jpg') top left no-repeat;
  background-size: auto 100%;
  min-height: 700px;
  position: relative;
}
.intro-container ol li {
	counter-increment: list; 
	list-style-type: none;
	padding: .5em;
	position: relative;
	max-width:35em;
}
.intro-container ol li:before {
	background-color: #f59031;
	border: 2px solid #fff;
	border-radius: 50%;
	color: #fff;
	content: counter(list) "";
	font-weight: bold;
	left: -2.5em;
	position: absolute;
	text-align: center;
	width: 2em;
}
.intro-container ol li:first-child:before {
	background-color: #1eb6ec;
}
.intro-container ol li:last-child:before {
	background-color: #84c14a;
}
.intro-container p, .intro-container h2, .intro-container h5, .intro-container li, .intro-container a {
  color: #fff;
}
.nav-holder {
  display: none;
}
.navtab {
  background-color: rgba(0, 90, 146, 0.95);
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: -40px;
  text-align: center;
  top: 0;
  width: 40px;
}
.navtab .fa {
  color: #fff;
  font-size: 2em;
  vertical-align: middle;
}
.topnav {
  display: none;
}
#content {
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 768px){
	.intro-container .callout {
		float: right;
		width: 40%;
	}
  #content {
    margin-top: 0;
  }
}
@media (min-width:992px) {
}
@media (min-width: 1024px) {
	h1 {
	  padding: 6em 1em 0 10em;
	}
  .abovefold {
    margin-top: 100px;
  }
	.content-holder {
	  display: inline-block;
	  padding-left: 5em;
	  position: relative;
	  vertical-align: top;
	  width: calc(100% - 16.5em);
	}
  .nav-holder {
    border-right: 2px solid #ccc;
    display: inline-block;
    min-width: 16em;
    padding-right: 1em;
    position: relative;
    vertical-align: top;
  }
  .nav-holder a {
    font-family: 'Roboto', helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
  }
  .nav-holder a:hover {
    font-weight: bold;
    text-decoration: none; 
  }
  .nav-holder li.active > a {
    font-weight: 700;
    text-decoration: none;
  }
  .nav-holder i {
    color: #1589cb;
    position: absolute;
    right: calc(-1em - 8px);
  }
  .nav-holder ul li {
    border-top: 1px dotted #ccc;
    padding: 1em 0;
    position: relative;
  }
  .nav-holder ul li:first-child {
    border: none;
  }
  .nav-holder ul li ul li {
    border: none;
    padding: 0.25em 1em;
  }
  .topnav {
    background-color: rgba(0, 90, 146, 0.85);
    display: block;
    height: 100px;
    line-height: normal;
    position: relative;
    z-index: 1000 !important;
  }
  .topnav nav {
    height: 100px;
    position: relative;
  }
  .topnav nav a {
    font-size: 12px;
  }
  .topnav nav a::after {
    background-color: #f8f8f8;
    border: 2px solid #dfdfdf;
    border-radius: 50%;
    bottom: -17px;
    content: '';
    height: 12px;
    left: 50%;
    position: absolute;
    right: auto;
    transform: translateX(-50%);
    transition: background-color 0.3s, border-color 0.3s;
    width: 12px;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -webkit-transition: background-color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, border-color 0.3s;
  }
  .topnav nav ul {
    display: inline-block;
    position: absolute;
    right: -4em;
    top: -47px;
    width: 14em;
  }
  .topnav nav ul li {
    display: inline-block;
    padding: 0 0.5em;
    position: relative;
    text-align: center;
    vertical-align: top;
  }
  .topnav nav ul li.active > a {
    color: #fff;
  }
  .topnav nav ul li.active > a::after {
    box-shadow: 0 0 1px 3px rgba(250, 250, 250, 0.6);
  }
  .topnav nav > ul > li {
    padding-left: 0;
    padding-right: 7em;
    width: 17em;
  }
  .topnav nav > ul > li:first-child{
    padding-right: 0;
    width: 4em;
  }
  .topnav nav > ul > li > a {
    font-size: 12px;
  }
  .topnav nav > ul > li > a::after {
    bottom: 41px;
    height: 28px;
    left: 29%;
    line-height: 1.85em;
    width: 28px;
  }
  .topnav nav > ul > li:first-child > a::after {
    background-color: #646a6d;
    bottom: 22px;
    left: 50%;
  }
  .topnav nav > ul > li:nth-child(2) a::after {
    background-color: #1a81a6;
  }
  .topnav nav > ul > li:nth-child(2) > a::after {
    content: '1';
  }
  .topnav nav > ul > li:nth-child(3) a::after {
    background-color: #f58f31;
  }
  .topnav nav > ul > li:nth-child(3) > a::after {
    content: '2';
  }
  .topnav nav > ul > li:nth-child(4) a::after {
    background-color: #55943c;
  }
  .topnav nav > ul > li:nth-child(4) > a::after {
    content: '3';
  }
  .topnav nav > ul > li.active > a::after {
    box-shadow: 0 0 1px 6px rgba(250, 250, 250, 0.6);
  }
  .topnav nav .filling-line-container {
    background-color: transparent;
    border-left: 2px solid #d6d6d6;
    border-right: 2px solid #d6d6d6;
    height: 25px;
    left: 0;
    position: absolute;
    top: calc(50% - 25px);
    width: 100%;
  }
  .topnav nav .filling-line {
    background-color: #d6d6d6;
    border-style: none;
    height: 2px;
    left: 0;
    position: absolute;
    top: calc(50% - 1px);
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .topnav nav a {
    font-size: 13px;
  }
  .topnav nav ul {
    width: 16em;
  }
  .topnav nav > ul > li {
    padding-right: 8em;
    width: 28%;
  }
  .topnav nav > ul > li:first-child {
    width: 8em;
  }
  .topnav nav > ul > li > a {
    font-size: 14px;
  }
  .topnav nav > ul > li > a::after {
    line-height: 1.75em;
  }
}
/* Do not move these */
.topnav nav > ul {
  padding-left: 0;
  right: 0;
  top: 55px;
  width: 100%;
}
.stuck {
  left: 0;
  position: fixed;
  top: 0;
}
.nav-holder.stuck {
  position: fixed;
  top: 100px;
}
.topnav.stuck {
  display: block;
  width: 100%;
}
